apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
        component: pipeline
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:8.9.0
          ports:
            - containerPort: 5044
              name: beats
          volumeMounts:
            - name: logstash-config
              mountPath: /usr/share/logstash/pipeline
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
      volumes:
        - name: logstash-config
          configMap:
            name: logstash-config
