apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
        component: visualization
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.9.0
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch:9200"
            - name: SERVER_NAME
              value: "kibana"
          ports:
            - containerPort: 5601
              name: http
          volumeMounts:
            - name: kibana-data
              mountPath: /usr/share/kibana/data
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
      volumes:
        - name: kibana-data
          persistentVolumeClaim:
            claimName: kibana-data
