apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kibana-data
  namespace: logging
  labels:
    app: kibana
    component: visualization
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 5Gi
