apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: logging
  labels:
    app: kibana
    component: visualization
spec:
  type: LoadBalancer
  selector:
    app: kibana
  ports:
    - port: 80
      targetPort: 5601
      protocol: TCP
      name: http
