apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: fast-ssd
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
# 1. Use CSI Driver (In-tree 'kubernetes.io/aws-ebs' is deprecated/removed)
provisioner: ebs.csi.aws.com

parameters:
  type: gp3
  
  # 2. Performance: gp3 uses absolute values, not 'iopsPerGB'
  # Default gp3 is 3000 IOPS / 125 MB/s.
  # For "fast-ssd", we provision higher baseline performance.
  iops: "6000"
  throughput: "250" 
  
  # 3. Security: Encryption is mandatory for enterprise
  encrypted: "true"
  # Optional: specific KMS key
  # kmsKeyId: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab

  fsType: ext4

reclaimPolicy: Retain
allowVolumeExpansion: true

# 4. Topology Awareness (Critical for Multi-AZ)
volumeBindingMode: WaitForFirstConsumer
allowedTopologies:
- matchLabelExpressions:
  - key: topology.ebs.csi.aws.com/zone
    values:
    - us-west-2a
    - us-west-2b
    - us-west-2c
